# for chmods in kickstart_checker.sh
allow qti_init_shell efs_boot_dev:blk_file setattr;

# to set gsm.radio.kickstart
allow qti_init_shell radio_prop:property_service set;

allow qti_init_shell block_device:dir { getattr search };
allow qti_init_shell block_device:blk_file { getattr setattr };
allow qti_init_shell modem_efs_partition_device:blk_file { getattr setattr };
allow qti_init_shell qmuxd_socket:dir search;
allow qti_init_shell bluetooth_data_file:file read;
