allow sysinit wifi_data_file:file { getattr setattr r_file_perms };
allow sysinit wifi_data_file:dir { search };
allow sysinit proc_drop_caches:file { write open };
allow sysinit system_data_file:dir { write add_name };
allow sysinit system_data_file:file { create write open lock };
allow sysinit sysfs_thermal:file { write };
allow sysinit sysfs_devices_system_cpu:file { setattr };
allow sysinit sysfs:file { setattr };
allow sysinit proc:file { write setattr };
allow sysinit proc_dirty_ratio:file { write open read getattr setattr };
allow sysinit proc_drop_caches:file { getattr setattr };
allow sysinit proc_security:file { getattr setattr };
allow sysinit sysfs_vibrator:file { read write open getattr setattr };
allow sysinit sysfs_touchpanel:file { read write open getattr setattr };
allow sysinit self:capability { fowner fsetid net_admin sys_admin };
allow sysinit proc_net:file { write setattr };
allow sysinit proc_net:dir { setattr };
allow sysinit default_prop:property_service { set };
allow sysinit radio_prop:property_service { set };
allow sysinit debugfs:dir { mounton };
allow sysinit debugfs:filesystem { mount unmount };
allow sysinit sysfs_lowmemorykiller:file { read write open getattr setattr };
allow sysinit sysfs_msmuart_file:file { read write open getattr setattr };
allow sysinit surfaceflinger_exec:file { getattr r_file_perms };
